.ubi-icon {
  width: 2.5rem;
  height: 2.5rem;
  background-image: url('./ubi.svg');
  &:hover {
    background-image: url('./ubi-hover.svg');
  }
  &:focus {
    border: 1px solid var(--primary-web-unifi-color-ublue-06, #006fff);
  }
}
