.devices-list-table-header-ctr {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 0rem 2rem;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  .devices-list-table-header {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 1px solid var(--neutral-neutral-03-light, #ededf0);
    > * {
      display: flex;
      padding: 0.375rem 0.5rem;
      align-items: center;
      gap: 0.5rem;
    }
    .devices-list-table-header-icon {
      width: 2.25rem;
      height: 2rem;
      justify-content: center;
    }
    .devices-list-table-header-line {
      flex: 1 0 0;
    }
    .devices-list-table-header-name {
      flex: 1 0 0;
    }
  }
}

.devices-list-table-ctr {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 0rem 2rem;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  .devices-list-table {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    .devices-list-table-images {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .devices-list-table-images-ctr {
        display: flex;
        width: 2.25rem;
        padding: 0.375rem 0.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        border-bottom: 1px solid var(--neutral-neutral-03-light, #ededf0);
        .devices-list-table-images-thumbnail {
          width: 1.25rem;
          height: 1.25rem;
          flex-shrink: 0;
          .devices-list-table-images-base {
            display: flex;
            width: 1.25rem;
            height: 1.25rem;
            flex-shrink: 0;
            // background: rgba(196, 196, 196, 0);
            .devices-list-table-images-image {
              width: 1.35419rem;
              height: 1.35419rem;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .devices-list-table-product-lines {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 0;
    }
    .devices-list-table-product-names {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 0;
    }
  }
  .devices-list-table-product-lines {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    .devices-list-table-product-line {
      display: flex;
      padding: 0.375rem 0.5rem;
      align-items: center;
      gap: 0.5rem;
      align-self: stretch;
      cursor: pointer;
      border-bottom: 1px solid var(--neutral-neutral-03-light, #ededf0);
      .devices-list-table-product-line-text {
        color: var(--text-text-2-light, rgba(0, 0, 0, 0.65));
      }
    }
  }
  .devices-list-table-product-names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    .devices-list-table-product-name {
      display: flex;
      padding: 0.375rem 0.5rem;
      align-items: center;
      gap: 0.5rem;
      align-self: stretch;
      border-bottom: 1px solid var(--neutral-neutral-03-light, #ededf0);
      .devices-list-table-product-name-text {
        color: var(--text-text-3-light, rgba(0, 0, 0, 0.45));
      }
    }
  }
}
