.devices {
  font-family: 'UI Sans_v7-Regular';
  display: flex;
  // width: 90rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  .devices-subheader {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    .devices-subheader-left {
      display: flex;
      height: 2rem;
      align-items: center;
      gap: 1rem;
    }
    .devices-subheader-right {
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;
    }
  }
}
