.devices-search {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  contain: layout;

  .devices-search-layout {
    display: flex;
    width: 21.5rem;
    flex-direction: column;
    align-items: flex-start;
    // gap defined in Figma, but the results panel contradicts this gap.
    // gap: 0.625rem;

    .devices-search-attribs {
      // display and align-items added to Figma information
      display: flex;
      align-items: center;
      height: 2rem;
      align-self: stretch;
      border-radius: 0.25rem;
      background: var(--neutral-2, #f6f6f8);
      &:hover {
        background: var(--neutral-neutral-03-light, #ededf0);
      }
      &:focus,
      &:active {
        border: 1px solid var(--primary-web-unifi-color-ublue-06, #006fff);
      }

      .devices-search-attribs-icon {
        width: 1.25rem;
        height: 1.25rem;
      }

      .devices-search-attribs-input {
        border: none;
        background: transparent;
        width: 100%;
      }
    }
  }
}
