.device-search-filter-ctr {
  display: flex;
  contain: layout;
  z-index: 1;

  .devices-search-filter {
    display: inline-flex;
    padding: 0.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: none;
    border-radius: 0.25rem;
    background: transparent;
    cursor: pointer;
    color: var(--text-text-3, rgba(0, 0, 0, 0.45));

    &:hover {
      background: var(--neutral-web-unifi-color-neutral-02, #f4f5f6);
    }

    &:focus {
      border: 1px solid var(--primary-web-unifi-color-ublue-06, #006fff);
    }
  }

  @keyframes appear {
    // Disappearing is handled by the parent element. Be sure to keep this in sync with the disappeaing animation.
    to {
      opacity: 1;
    }
  }
  .devices-search-filter-options {
    position: fixed;
    left: -100%; // Needed to base the overlay on the containing block
    top: 2rem;
    width: fit-content;
    display: inline-flex;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 0.5rem;
    background: var(--neutral-web-unifi-color-neutral-00, #fff);
    opacity: 0;
    animation: appear 0.8s ease-in-out forwards;

    /* Shadows / high */
    box-shadow: 0px 16px 32px 0px rgba(28, 30, 45, 0.2);

    .devices-search-filter-options-title {
      white-space: nowrap;
      font-weight: 700;
      color: var(--text-text-1, rgba(0, 0, 0, 0.85));
    }

    .device-search-filter-options-choices {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      .device-search-filter-options-choice {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        input {
          width: 1rem;
          height: 1rem;
          border-radius: 0.25rem;
          border: 1px solid var(--neutral-6, #b6b9c4);
        }
        label {
          color: var(--text-text-2-light, rgba(0, 0, 0, 0.65));
        }
      }
    }

    .devices-search-filter-btn {
      border: none;
      background: transparent;
      cursor: pointer;

      &.active {
        color: var(--semantic-destructive-web-unifi-color-red-06, #f03a3e);
      }

      &.inactive {
        color: var(--semantic-destructive-web-unifi-color-red-03, #f9b0b2);
      }
    }
  }
}
