.device {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--neutral-web-unifi-color-neutral-00, #fff);
  font-family: UI Sans_v7;
  .device-subheader-ctr {
    display: flex;
    padding: 1.125rem 2rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    .device-subheader {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex: 1 0 0;
      .device-subheader-left {
        display: flex;
        padding: 0.25rem;
        align-items: flex-start;
        border-radius: 0.25rem;
        background: var(--neutral-web-unifi-color-neutral-00, #fff);

        /* Shadow-low-light */
        box-shadow:
          0px 8px 24px 0px rgba(0, 0, 0, 0.08),
          0px 0px 1px 0px rgba(0, 0, 0, 0.06);
        .device-subheader-back-btn-text {
          color: var(--text-text-3, rgba(0, 0, 0, 0.45));
        }
      }
      .device-subheader-right {
        display: flex;
        align-items: flex-start;
        gap: 0.25rem;
        > * {
          border-radius: 0.25rem;
          background: var(--neutral-web-unifi-color-neutral-00, #fff);

          /* Shadow-low-light */
          box-shadow:
            0px 8px 24px 0px rgba(0, 0, 0, 0.08),
            0px 0px 1px 0px rgba(0, 0, 0, 0.06);
        }
      }
    }
    .device-subheader-btn-ctr {
      border: none;
      background: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      .device-subheader-btn {
        display: flex;
        padding: 0.25rem 0.4375rem;
        align-items: center;
        gap: 0.625rem;
        .device-subheader-btn-svg-ctr {
          width: 0.375rem;
          height: 0.75rem;
          fill: var(--neutral-neutral-08-light, #838691);
        }
      }
    }
  }
  .device-content {
    display: inline-flex;
    align-items: flex-start;
    gap: 2rem;
    .device-content-fingerprint {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.01388rem;
      .device-content-img-ctr {
        display: flex;
        padding: 1.01388rem;
        align-items: flex-start;
        border-radius: 0.5rem;
        background: var(--neutral-web-unifi-color-neutral-01, #f9fafa);
        .device-content-img {
          width: 16.22225rem;
          height: 16.22225rem;
        }
      }
    }
    .device-content-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      .device-content-details-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
        .device-content-details-title-model-name {
          color: var(--text-text-3, rgba(0, 0, 0, 0.45));
        }
      }
      .device-content-details-list {
        display: flex;
        width: 27.75rem;
        flex-direction: column;
        align-items: flex-start;
        .device-content-details-item {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          > * {
            display: flex;
            padding: 0.375rem 0rem;
            align-items: center;
            gap: 0.5rem;
            flex: 1 0 0;
          }
          .device-content-details-item-val {
            white-space: nowrap;
            color: var(--text-text-3-light, rgba(0, 0, 0, 0.45));
          }
        }
      }
    }
  }
  .device-cta-ctr {
    display: inline-flex;
    padding: 0.375rem 0rem;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border: none;
    background: transparent;
    cursor: pointer;
    &:focus,
    &:active {
      border-radius: 0.25rem;
      border: 1px solid var(--primary-web-unifi-color-ublue-06, #006fff);
    }
    .device-cta-text {
      color: var(--primary-web-unifi-color-ublue-06, #006fff);
      font-family: UI Sans_v7;
    }
  }
  .device-json-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .device-json {
      display: flex;
      padding: 0 10rem 0 10rem;
      background: var(--neutral-web-unifi-color-neutral-02, #f4f5f6);
    }
  }
  
}
