@keyframes fade-left {
  to {
    transform: translateY(-100%);
  }
}
.Splash {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  height: 100%;
  padding: 1.625rem 11.25rem 9rem 11.3125rem;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  text-align: center;
  background: var(--primary-web-unifi-color-ublue-06, #006fff);
  animation: fade-left 0.2s ease-in-out 0.8s forwards;

  @keyframes expand {
    to {
      transform: scale(1.5);
    }
  }
  #icon {
    display: flex;
    padding: 9.6875rem 9.6875rem 9.53663rem 9.6875rem;
    justify-content: center;
    align-items: center;
    width: 19.375rem;
    height: 19.52588rem;
    flex-shrink: 0;
    fill: var(--neutral-web-unifi-color-neutral-00, #fff);
    animation: expand 0.55s ease-in-out 0.25s forwards;
  }

  #motto {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    color: var(--neutral-web-unifi-color-neutral-00, #fff);
    margin: 0;
    text-align: center;
    font-size: 7.75rem;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
    > * {
      // Beginning position of all child elements is 150% below normal
      // Animation will end at normal position (translateY(0%))
      transform: translateY(150%);
    }
    @keyframes ascend {
      to {
        transform: translateY(0%);
      }
    }
    #animate-first {
      animation: ascend 0.55s ease-in-out forwards;
    }
    #animate-second {
      animation: ascend 0.55s ease-in-out 0.05s forwards;
    }
    #animate-third {
      animation: ascend 0.55s ease-in-out 0.15s forwards;
    }
    #animate-fourth {
      animation: ascend 0.55s ease-in-out 0.25s forwards;
    }
  }
}
