body {
  height: 100vh;
  margin: 0;
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-web-unifi-color-ublue-06: #006fff;
  --neutral-web-unifi-color-neutral-00: #fff;
  --neutral-web-unifi-color-neutral-02: #f4f5f6;
  --text-web-unifi-text-3: #808893;
  --neutral-2: #f6f6f8;
  --neutral-6: #b6b9c4;
  --text-black-45: rgba(0, 0, 0, 0.45);
  --text-text-1-light: rgba(0, 0, 0, 0.85);
  --text-text-2-light: rgba(0, 0, 0, 0.65);
  --neutral-neutral-03-light: #ededf0;
  --text-web-unifi-text-2: #50565e;
  --Gray-4: #bdbdbd;

  #root {
    height: 100vh;
  }

  // The specs call for UI Sans_v7, which is not supplied. Aliasing UI Sans_v7 with Cabin, a public font available through fonts.google.com.
  @font-face {
    font-family: 'UI Sans_v7-Regular';
    src: url('Cabin-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'UI Sans_v7-Bold';
    src: url('Cabin-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.woff2') format('woff2');
  }

  .lato-regular-14 {
    color: var(--text-black-45, rgba(0, 0, 0, 0.45));

    font-family: Lato;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 171.429% */
  }

  .caption {
    color: var(--Gray-4, #bdbdbd);

    /* Web/Caption */
    font-family: UI Sans_v7;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 133.333% */
  }

  .heading-medium {
    color: var(--text-text-1-light, rgba(0, 0, 0, 0.85));

    /* Web/Heading-medium */
    font-family: UI Sans_v7;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem; /* 142.857% */
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
