body {
  margin: 0;
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --neutral-web-unifi-color-neutral-00: #FFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
